.mainbtn {
    background-color: #ffffff;
    border: none;
    border:  solid 1px #000;
    color: rgb(0, 0, 0);
    padding: 5px 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50rem!important;
    transition: all .2s ease-in-out;
    min-width: 100px;
    
  }
  .mainbtn:hover {
    background-color: #299ED9 !important;
    /* transform: translateY(-0.15rem);
    box-shadow: 0 0.25rem 0.75rem rgba(30,34,40,.15); */
    color: white;
    border:  solid 1px #ffffff;

}