.footer-sub {
    padding: 20px;
    border: 1px solid #ddd;
}

.footer-sub h5 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.dropdown-icon {
    font-size: 12px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

/* Hide dropdown content by default */
.dropdown-content {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.dropdown-content.show {
    display: flex;
}

.footer-sub a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 5px 0;
}

.footer-app {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-app img {
    width: 50px;
    height: 50px;
}
